PORT=4000
NODE_ENV=development

# DB local (libSQL file). En prod sustituir por Turso libsql://
DATABASE_URL=file:./local.db
# DATABASE_AUTH_TOKEN=

# Auth (Better-Auth) — generar con: openssl rand -hex 32
BETTER_AUTH_SECRET=cambiar_en_produccion_a_string_aleatorio_de_32_bytes_hex
BETTER_AUTH_URL=http://localhost:4000

# Expo Push (opcional en dev)
# EXPO_ACCESS_TOKEN=
